[Unit]
Requires=db.service cache.service
After=db.service cache.service

[Container]
Image=docker.io/library/nextcloud@sha256:611669115cccef3f96aa8eb47bd07c4d57452d894ebcfc1d81f5e8ce368e7d2d
Exec=/opt/boxferry/init-nextcloud --non-interactive
Environment=POSTGRES_HOST=db
Environment=REDIS_HOST=cache
Environment=NEXTCLOUD_ADMIN_USER=boxferry-test-admin
Environment=NEXTCLOUD_ADMIN_PASSWORD=boxferry-test-admin-password-not-secret
Environment=POSTGRES_PASSWORD=boxferry-test-db-password-not-secret
Environment=REDIS_PASSWORD=boxferry-test-cache-password-not-secret
Volume=nextcloud-data.volume:/var/www/html
Volume=/srv/boxferry-fixture/nextcloud-application/nextcloud.config.php:/opt/boxferry/config.php:ro,Z
Network=backend.network

[Service]
Restart=no
