[Unit]
Description=Example frontend network

[Network]
NetworkName=example-frontend
DNSOption=rotate
FutureNetworkKey=future-value

[Install]
WantedBy=default.target
