[Network]
NetworkName=quadlet-lens-network-completion
ContainersConfModule=pre.conf
ContainersConfModule=
ContainersConfModule=post-one.conf
ContainersConfModule=post-two.conf
DNS=1.1.1.1
DNS=
DNS=9.9.9.9
DNS=2001:4860:4860::8888
GlobalArgs=--log-level=debug
GlobalArgs=
GlobalArgs=--events-backend=file
DisableDNS=true
InterfaceName=quadlet0
NetworkDeleteOnStop=true
PodmanArgs=--label=pre=true
PodmanArgs=
PodmanArgs=--label=post-one
PodmanArgs=--label=post-two
ServiceName=quadlet-lens-network-completion
